* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('./../fonts/JetBrainsMono-VariableFont_wght.ttf');
}

body{
font-family: "JetBrains Mono";
}


:root{
    --font-family: "JetBrains Mono";
     
    --font-text: 16px;
    
    --black: #272727;
    --white: #f8f8f8;
    --pink: #FA8FBF;
    --violet:#D79CED;
    --plum:#E275E6;
    --hotpink:#D7287D;
}

html{
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

nav{
    background-color: var(--white);
    color: var(--black);
    width: 80%;
    height: 50px;
    position: sticky;
    top: 20px;
    left:10%;
    padding: 5px;
    border-radius: 100px;
    border: 3px solid var(--black);
    box-shadow: 3px 3px 0px var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: var(--black);
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.nav-link a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.mobile-nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    margin-right: 10px;
}

.mobile-nav-toggle div {
    width: 20px;
    height: 3px;
    background-color: var(--black);
}

#hero {
    background-color: var(--pink);
    height: 100vh;
    width: 100%
}

#experience {
    background-color: var(--violet);
    height: 100vh;
    width: 100%;
}

#projects {
    background-color: var(--plum);
    height: 100vh;
    width: 100%;
}

#contact {
    background-color: var(--hotpink);
    height: 100vh;
    width: 100%;
}

/* Extra Small Devices */
@media (max-width: 480px) {
    nav {
        width: 90%;
        left: 5%;
    }
      .nav-link {
        display: none;
    }
}

/* Small Devices */
@media (max-width: 768px) and (min-width: 481px) {
    nav {
        background-color: orange;
    }
    .nav-link {
        display: none;
    }
}

/* Medium Devices */
@media (max-width: 1024px) and (min-width: 769px) {
    nav {
        background-color: black;
    }
    .nav-link {
        display: none
    }
   
}

/* Large Devices */
@media (max-width: 1200px) and (min-width: 1025px) {
}