* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('./../fonts/JetBrainsMono-VariableFont_wght.ttf');
}

body{
font-family: "JetBrains Mono";
}


:root{
    --font-family: "JetBrains Mono";
     
    --font-text: 16px;
    
    --black: #272727;
    --white: #f8f8f8;
    --pink: #FA8FBF;
    --violet:#D79CED;
    --plum:#E275E6;
    --hotpink:#D7287D;
}

body{
    font-family: var(--font-family);
}

#hero {
    background-color: var(--pink);
    height: 100vh;
    width: 100%
}

#experience {
    background-color: var(--violet);
    height: 100vh;
    width: 100%;
}

#projects {
    background-color: var(--plum);
    height: 100vh;
    width: 100%;
}

#contact {
    background-color: var(--hotpink);
    height: 100vh;
    width: 100%;
}
